@font-face {
    font-family: mainHeebo;
    src: url(../fonts/Heebo-Thin.ttf);
  }
  @font-face {
    font-family: boldHeebo;
    src: url(../fonts/Heebo-Bold.ttf);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-color: #FFFFFF;
    --headings-color: #252B42;
    --text-color: #374754;
    --place-holder-color: #18171D;
    --main-background-color:  #FFFFFF;
    --order-plan-background-color:  #FFFFFF;
    --accent-background-color: #252B42;
    --footer-background-color: #252B42;
    --btn-background-color: #2091F9;
    --pricing-element-background-color: #2091F9;
    --order-plan-color: #2091F9;
    --contactus-input-background-color: #F5F5F5;
    --contactus-input-border-color: #E8E8E8;
    --contacts-border-color: #DDDDDD;
    font-family: 'mainHeebo', sans-serif;
    scroll-behavior: smooth;
}

.container{
    max-width: 1440px;
    margin: auto;
    border: 1px solid red;
}
img{
    display: block;
    width: 100%;
}