.features {
    width: 100%;
    min-height: 1595px;
    border: 1px solid #000;
}

.features__title {
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.2px;
    color: var(--headings-color);
    text-align: center;
    padding-top: 110px;
}

.features__introduction {
    width: 265px;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.2px;
    color: var(--text-color);
    text-align: center;
    margin: 27px auto 67px;
}

.features__image {
    height: 215px;
}

.features__description,
.features__card {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

.features__description {
    min-height: 1070px;
    justify-content: space-evenly;
}

.features__card {
    width: 230px;
    min-height: 248px;
    justify-content: space-between;
}

.card__image {
    width: 45px;
    height: 45px;
}

.card__title {
    width: 194px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.1px;
    color: var(--headings-color);
    font-family: 'boldHeebo', sans-serif;
}

.card__text {
    width: 231px;
    height: 100px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--text-color);
}