.footer {
    background-color: var(--footer-background-color);
}

.footer__container {
    min-height: 1430px;
    display: grid;
    padding-top: 120px;
    padding-bottom: 130px;
    justify-content: center;
    align-items: center;
}

.footer__professionals {
    color: var(--main-color);
    list-style-type: none;
    text-align: center;
}

.footer__professionals li {
    margin-top: 10px;
}

.footer__professionals li:first-child {
    font-family: 'boldHeebo', sans-serif;
}

.footer__contact,
.footer__social {
    margin-top: 20px;
}

.footer__contact {
    display: flex;
    justify-content: flex-start;
}

.footer__contact .contact__image {
    width: 30px;
    height: 38px;
    margin-right: 20px;
}

.footer__contact a {
    text-decoration: none;
    color: var(--main-color);
    align-self: center;
}

.footer__contact:nth-child(5) {
    margin-top: -40px;
}

.footer__social img {
    width: 32px;
    height: 32px;
}

.footer__social {
    display: flex;
    justify-content: space-around;
}

@media (min-width: 1770px) {
    .footer__container {
        min-height: 570px;
        grid-template-columns: 20% 20% 20% 20%;
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .footer__social {
        justify-content: space-between;
    }

    .footer__details {
        align-content: center;
    }
}