.header {
    min-height: 850px;
    background-image: url(../img/people-working-on-macbook.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 25px 0;
}

.header__logo {
    width: 186px;
    height: 58px;
}

.header__menu {
    width: 26px;
    height: 16px;
    border: 1px solid var(--main-color);
}
.header__content{
    width: 95%;
    margin: auto;
}
.header__title,
.header__introduction {
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--main-color);
}

.header__title {
    line-height: 55px;
    font-size: 48px;
    margin: 117px auto 27px;
}

.header__introduction {
    font-size: 28px;
    line-height: 40px;
    margin: 0 auto 69px;
}

.header .try-for-free-btn{
    height: 52px;
    line-height: 52px;
}