.newsletter {
    min-height: 1105px;
    border: 1px solid #000;
}

.newsletter__heading,
.subscribtion__title {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.1px;
    color: var(--headings-color);
    font-family: 'boldHeebo', sans-serif;
    margin: 80px auto 0;
}

.newsletter__title {
    color: var(--headings-color);
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.2px;
    margin-top: 17px;
}

.newsletter__description {
    min-height: 80px;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--text-color);
    margin: 27px auto 95px;
}

.newsletter__image {
    width: 90%;
    margin: auto;
}

.subscribtion__title {
    margin-top: 92px;
}

.subscribtion__exclusive {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.2px;
    color: var(--text-color);
    text-align: center;
    margin: 10px auto 34px;
}

.subscribtion__subscribe {
    width: 95%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column wrap;
    margin: 0 auto 114px;
}

.subscribtion__email,
.subscribtion__button {
    width: 300px;
    height: 54px;
    border-radius: 39px;
    padding: 19px 35px;
}

.subscribtion__email {
    background: #F4F4F4;
    border: 1px solid #E8E8E8;
    color: var(--place-holder-color);
}

.subscribtion__button {
    background: var(--btn-background-color);
    color: var(--main-color);
    border: none;
}