.organize {
    min-height: 800px;
    border: 1px solid #000;
}

.organize__title {
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--headings-color);
    margin: 90px auto 0;
}

.organize__description {
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.2px;
    margin: 27px auto 69px;
}

.organize__image {
    width: 90%;
    min-height: 182px;
    margin: 75px auto 0;
}