.partners {
    min-height: 1060px;
    border: 1px solid #000;
}

.partners__title {
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--headings-color);
    margin: 60px auto 27px;
}

.partners__description {
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--text-color);
    margin: auto;
}

.partners__content {
    min-height: 510px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column wrap;
    margin-top: 108px;
    margin-bottom: 98px;
}

.partners__info {
    height: 150px;
    width: 275px;
    border: 1px solid #D8D8D8;
}

.box__title {
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.1px;
    text-align: center;
    margin-top: 20px;
}

.box__logo {
    width: 200px;
    height: 60px;
    margin: 15px auto;
}