.testimonials {
    min-height: 785px;
}

.testimonials__title {
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--headings-color);
    margin-top: 120px;
}

.testimonials__image {
    width: 125px;
    height: 50px;
    margin: 105px auto 53px;
}

.testimonials__description {
    font-size: 13.5256px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.16907px;
    color: var(--text-color);
    margin: 0 auto 53px;
    font-family: 'boldHeebo', sans-serif;
    width: 90%;
}

.profile__picture {
    height: 42px;
    width: 42px;
    border-radius: 50%;
}

.testimonials__profile>img {
    grid-area: myArea;
}

.testimonials__profile {
    display: grid;
    grid-template-areas: 'myArea' 'myArea';
    grid-template-columns: 50px 130px;
    align-items: center;
    justify-content: center;
}

.testimonials__link {
    width: 276px;
    line-height: 60px;
    font-family: 'boldHeebo', sans-serif;
    margin: 95px auto 100px;
}